/* Designed for iPhone 12 Screen - 390 x 844 px */
@media(max-width: 860px) {
    #name {
        height: 400px;
        width: 400px;
    }

    #name h1 {
        font-size: 45px;
        word-wrap: break-word;     
    }

    #name p {
        font-size: 20px;
    }

    #input_container {
        width: 400px;
    }

    #inputBox {
        width: 200px;
        padding-left: none;
        font-size: 20px;
    }

    #inputBox::-webkit-input-placeholder {
        font-size: 18px;
    }

    .unsafe_body {
        width: 100px;
        height: auto;
    }

    #unsafeP {
        padding-left: 150px;
    }

    #unsafeP2 {
        padding-left: 150px;
    }

    #freq_container {
        width: 400px;
    }

    #freq_container h2 {
        font-size: 50px;
    }

    td {
        padding: 20px;
    }

    #mobile_info {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
    }

    #condition_label, #condition1, #condition2, #condition3 {
        display: none;
    }

    #iaqi_container {
        padding-left: 10px;
    }

    #iaqi_stats {
        width: 350px;
    }

    .graph_bars {
        max-width: fit-content;
    }

    #about {
        width: 400px;
    }
}