/* Designed for iPhone 12 Screen - 390 x 844 px */
@media(max-width: 860px) {
    #name {
        height: 400px;
        width: 400px;
    }

    #name h1 {
        font-size: 45px;
        word-wrap: break-word;     
    }

    #name p {
        font-size: 20px;
    }

    #input_container {
        width: 400px;
    }

    #inputBox {
        width: 200px;
        padding-left: none;
        font-size: 20px;
    }

    #inputBox::-webkit-input-placeholder {
        font-size: 18px;
    }

    #freq_container {
        width: 400px;
    }

    td {
        padding: 20px;
    }

    #condition_label, #condition1, #condition2, #condition3 {
        display: none;
    }

    #iaqi_container {
        padding-left: 10px;
    }

    #about {
        width: 400px;
    }
}